header {
  position: sticky;
  top: -40px;
  width: 100%;
  z-index: 10;
}
.Toolbar {
  width: 100%;
  background-color: rgb(237, 219, 14);
}
.Toolbar ul {
  height: 40px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 15px;
  list-style: none;
  padding: 0 20px;
}
.Toolbar img {
  width: 20px;
}

.HeaderMain {
  background-color: rgb(197, 181, 9);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  height: 60px;
}
.HeaderMain a {
  text-decoration: none;
  color: #edecec;
}
.HeaderMain a:hover {
  color: #f8f8f8;
}
.Logo {
  width: 130px;
  object-fit: contain;
}

.HeaderMain button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.HeaderMain button img {
  width: 40px;
}
.HeaderMain ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  list-style: none;
}
.HeaderMain nav {
  display: none;
}

.MenuMobileActive {
  width: 100%;
  background-color: rgba(113, 104, 10, 0.94);
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  border-bottom: 2px solid rgba(255, 255, 255, 0.7);
}
.MenuMobileActive ul {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 10px 0;
}
.MenuMobileActive li {
  width: 100%;
  padding: 5px 20px;
  cursor: pointer;
}
.MenuMobileActive li:hover {
  background-color: rgba(237, 219, 14, 0.6);
}
.MenuMobileActive a {
  text-decoration: none;
  color: #edecec;
}
.MenuMobileActive a:hover {
  color: #f8f8f8;
}

.MenuMobileOff {
  display: none;
}

@media all and (min-width: 570px) {
  .HeaderMain nav {
    display: block;
  }
  .HeaderMain button {
    display: none;
  }
  MenuMobileActive {
    display: none;
  }
}
