* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #f8f8f8;
  background: url("../public/assets/background.png") center repeat-y #191717;
}

@media (prefers-color-scheme: light) {
  body {
    background: url("../public/assets/background.png") repeat-y center #181717;
  }
}

@media (prefers-color-scheme: dark) {
  body {
    background: url("../public/assets/background.png") repeat-y center #181717;
  }
}
